<!-- Toolbar -->
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <!--mat-icon>menu</mat-icon-->
  </button>
  <span>Sistema de administración de POS</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <!--mat-icon>favorite</mat-icon-->
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <!--mat-icon>share</mat-icon-->
  </button>
</mat-toolbar>

<mat-tab-group mat-align-tabs="end">
  <mat-tab label="Articulos">
    <app-listar-articulo></app-listar-articulo>
  </mat-tab>
  <mat-tab label="Proveedores">Content 2</mat-tab>
  <mat-tab label="Ventas">Content 3</mat-tab>
</mat-tab-group>